/*  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html.rtl { direction: rtl }

body {
  font-family: serif;
  margin: 0;
}

.header {
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0 1em;
  height: 5em;
}

.shadow {
  height: 200px;
  margin: -200px 0 0;
}

.menu {
  width: 15em;
  margin: 36px 10px 0;
  padding: .75em;
  z-index: 10;
}
.rtl .menu {
  text-align: right;
}
.menu, .viewer, .viewer textarea {
  border-style: solid;
  border-width: 1px;
  outline: none;
}

.menu-button {
  margin: 10px 10px 0 0;
  padding: 0 6px;
  height: 26px;
  z-index: 9;
  font-weight: bold;
}
.rtl .menu-button {
  margin-right: 0;
  margin-left: 10px;
}
.button, .menu-button {
  -moz-appearance: none;
  color: #000;
  border: 1px solid #000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%)
}
.button {
  padding: 2px 1em;
  margin: 0;
}
.menu-button:active { padding: 1px 6px }
.button:active { padding: 3px 1em 1px }
.button:active, .menu-button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
}

button, label[for] { cursor: pointer }
input[disabled] + label[for] { color: grey }

section { margin: 7em 1em 1em }

h1, h2 { font-family: sans-serif }

a:link, a:visited, .menu a:hover { text-decoration: none }
a:hover { text-decoration: underline }

#template, .hidden, .no-themes, .private-browsing, .current .enable, .disable, .dev, .edit,
.menu:not(.open), .viewer:not(.open), .compact .theme-title, .compact .theme-author,
.compact .theme-description, .compact .button.more { display: none }

.current .disable, .devmode .dev:not(.hidden), .personas .persona .edit,
.paypal:not(.hidden), .paypal a { display: inline-block }

.nothemes .no-themes, .privatebrowsing .private-browsing,
.menu a:not(.hidden), .menu label[for] { display: block }

.menu .left { margin: 3px .5em 0 0 }
.rtl .menu .left { margin: 3px 0 0 .5em }

.no-themes ul { line-height: 2em }

.theme {
  font-size: 10pt;
  width: 360px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  margin: 0 1em 1em 0;
  padding: 10px;
  word-wrap: break-word;
}

.theme .image {
  max-width: 340px;
  max-height: 50px;
  min-width: 149px;
  min-height: 50px;
}

.preview {
  width: 340px;
  height: 50px;
}

.theme-title {
  font-size: 14pt;
  margin: .5em 0 .25em;
}

.enable { background-color: #90dc98 }
.disable { background-color: #f88 }

.absolute { position: absolute }
.fixed { position: fixed }
.clear { clear: both }

.pos-top { top: 0 }
.pos-bottom { bottom: 0 }
.pos-left, .rtl .pos-right { left: 0 }
.pos-right, .rtl .pos-left { right: 0 }
.left, .rtl .right { float: left }
.right, .rtl .left { float: right }

.separator { margin: .5em 0 }

.footer {
  margin: inherit;
  padding: .5em;
  font-size: small;
  line-height: 1.5em;
}

.viewer, .viewer textarea { margin: auto }
.viewer {
  width: 700px; height: 540px;
  padding: 0;
}

.viewer textarea {
  direction: ltr;
  padding: 0px;
  width: 640px; height: 480px;
  font-family: monospace;
  font-size: 12pt;
}

.search {
  margin: 1.5em 10em;
  padding: .25em .5em;
}
.search-input {
  background-color: rgba(255, 255, 255, .75);
  color: #000;
  width: 200px;
  margin: 0;
}
.search-input:hover { background-color: rgba(255, 255, 255, .9) }
.search-input:focus { background-color: #fff }

.paypal {
  width: 120px;
  height: 21px;
  border: 1px solid #f79739;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  background-color: #ffcb80;
  background-image: linear-gradient(to bottom,
                                    #fecb7f  0%, #ffe6bf  5%, #ffe7c1  10%, #ffdeaa 25%,
                                    #ffd799 35%, #ffce83 45%, #ffbd59  50%, #ffa822 55%,
                                    #ffa822 60%, #ffac2c 65%, #ffb23c  70%, #ffc367 80%,
                                    #ffd79b 90%, #ffdfad 95%, #fec36f 100%);
}
.paypal a {
  font-family: sans-serif;
  font-size: 8pt;
  font-weight: bold;
  transform: skewX(-10deg);
  color: rgba(0, 0, 120, .75) !important;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 120, .25);
}

.yellow { background: yellow }

