/*  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://lwthemes/skin/");

body {
  background-color: #131c26;
  color: #8fa1b2;
}

a:link, a:visited { color: #cdd8e4 }

.shadow, .header { box-shadow: 0 0 9px rgba(0, 0, 0, .75) }
.header, .footer, .viewer {
  background-color: #2e3740;
  color: inherit;
}
.footer { box-shadow: 0 0 6px rgba(0, 0, 0, .75) }

.theme {
  border-color: #3d6db5;
  outline-color: #3d6db5;
}

.theme, .menu {
  background-color: #344150;
  color: inherit;
}

.menu { box-shadow: 1px 3px 3px rgba(0, 0, 0, .5) }
.menu, .viewer { border-color: threedhighlight }
.rtl .menu { box-shadow: -1px 3px 3px rgba(0, 0, 0, .5) }

.menu, .separator { border-top: 1px solid #fff }

.current { border-color: #c63717 }

.theme img { box-shadow: 0 0 1px #000 }

.theme img:hover { box-shadow: 0 0 3px #000 }
