/*  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*@import url("chrome://lwthemes/skin/");*/

body, .viewer textarea {
  background-color: #fff;
  color: #000;
}

a:link, a:visited { color: #3d6db5 }

.shadow, .header { box-shadow: 0 0 9px rgba(0, 0, 0, .5) }
.header, .footer {
  background-color: #ddd;
  color: inherit;
}
.footer { box-shadow: 0 0 6px rgba(0, 0, 0, .5) }

.theme {
  border-color: #3d6db5;
  outline-color: #3d6db5;
}

.theme, .menu, .viewer {
  background-color: #fafafa;
  color: inherit;
}

.search { box-shadow: 0 0 2px rgba(0, 0, 0, .5) }
.search-input { border: 1px solid rgba(0, 0, 0, .5) }
.menu { box-shadow: 1px 3px 6px rgba(0, 0, 0, .5) }
.menu, .viewer, .viewer textarea { border-color: threedshadow }
.rtl .menu { box-shadow: -1px 3px 6px rgba(0, 0, 0, .5) }

.menu, .separator { border-top: 1px solid #000 }

.current { border-color: #c63717 }

.theme img { box-shadow: 0 0 1px #000 }

.theme img:hover { box-shadow: 0 0 3px #000 }
