/*  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*@import url("chrome://lwthemes/skin/");*/

body, .viewer textarea {
  background-color: #fff;
  color: #000;
}

a:link, a:visited, .menu a:hover, label[for]:hover { color: #3d6db5 }

.shadow, .header, .footer { box-shadow: 0 0 9px rgba(0, 0, 0, .5) }
.header, .footer {
  background-color: #ddd;
  color: inherit;
}

.theme {
  border-color: #3d6db5;
  outline-color: #3d6db5;
  background-color: rgba(61, 109, 181, .1);
}

.current {
  border-color: #c63717;
  outline-color: #c63717;
  background-color: rgba(198, 55, 23, .05);
  /*box-shadow: 0 0 6px rgba(198, 55, 23, .75);*/
}

.menu, .viewer { background-color: #fafafa }
.theme, .menu, .menu a, .viewer { color: inherit }

.search { box-shadow: 0 0 2px rgba(0, 0, 0, .5) }
.search-input { border: 1px solid rgba(0, 0, 0, .5) }
.menu { box-shadow: 1px 3px 6px rgba(0, 0, 0, .5) }
.menu, .viewer, .viewer textarea { border-color: threedshadow }
.rtl .menu { box-shadow: -1px 3px 6px rgba(0, 0, 0, .5) }

.menu, .separator { border-top: 1px solid #000 }

.theme .image { box-shadow: 0 0 1px #000 }

.theme .image:hover { box-shadow: 0 0 3px #000 }

.progress { box-shadow: 3px 3px 6px rgba(0, 0, 0, .5) }
