/*
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Contributor(s):
 *  - LouCypher (original code)
 */

body {
  font-family: serif;
  background: #fff;
  color: #000;
  margin: 0;
}

.shadow {
  position: fixed;
  height: 200px;
  margin: -200px 0 0;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, .5);
}
.shadow, .header { top: 0 }
.header { padding: 0 1em }
.shadow, .header, footer { left: 0; right: 0; }
.header, footer { position: absolute }

section { margin: 6em 1em 1em }

h1, h2 { font-family: sans-serif }

a:link, a:visited {
  color: #3D6DB5;
  text-decoration: none;
}
a:hover { text-decoration: underline }

#template, .hidden, .current .enable, .disable { display: none }

.theme {
  background: #fafafa;
  color: inherit;
  font-size: 10pt;
  width: 360px;
  min-height: 200px;
  border: 1px solid #3d6db5;
  outline: 1px solid #3d6db5;
  margin: 0 1em 1em 0;
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

.current { border-color: #c63717 }

.current .disable { display: inline-block }

.theme img {
  box-shadow: 0 0 1px #000;
  max-width: 340px;
  max-height: 50px;
}

.image {
  width: 340px;
  height: 50px;
}

.theme img:hover { box-shadow: 0 0 3px #000 }

.theme-title {
  font-size: 14pt;
  margin: .5em 0 .25em;
}

.enable { background-color: #90dc98 }
.disable { background-color: #f88 }

button {
  -moz-appearance: none;
  border: 1px solid #000;
  padding: 2px 1em;
  color: #000;
  cursor: pointer;
  margin: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
}
button:focus {
  padding: 3px 1em 1px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
}

.left { float: left }
.right { float: right }
.clear { clear: both }
.bottom { bottom: 0 }

footer {
  background-color: #ddd;
  color: inherit;
  margin: inherit;
  padding: .5em;
  font-size: small;
  line-height: 1.5em;
}

.paypal, .paypal a { display: inline-block }
.paypal {
  width: 120px;
  height: 21px;
  border: 1px solid #f79739;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  background-color: #ffcb80;
  background-image: linear-gradient(to bottom,
                                    #fecb7f  0%, #ffe6bf  5%, #ffe7c1  10%, #ffdeaa 25%,
                                    #ffd799 35%, #ffce83 45%, #ffbd59  50%, #ffa822 55%,
                                    #ffa822 60%, #ffac2c 65%, #ffb23c  70%, #ffc367 80%,
                                    #ffd79b 90%, #ffdfad 95%, #fec36f 100%);
}
.paypal a {
  font-family: sans-serif;
  font-size: 8pt;
  font-weight: bold;
  transform: skewX(-10deg);
  color: rgba(0, 0, 120, .75);
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 120, .25);
}
